<form autocomplete="off">
  <div class="character-top-grid">
    <img class="character-top-grid-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

    <div id="name">
      <label for="character-{{actor._id}}-name">{{localize "BITD.Name"}}</label>
      <input type="text" id="character-{{actor._id}}-name" name="name" value="{{actor.name}}">
    </div>

    <div id="alias">
      <label class="underlined-input" for="character-{{actor._id}}-alias">{{localize "BITD.Alias"}}</label>
      <input type="text" id="character-{{actor._id}}-alias" name="alias" value="{{actor.alias}}">
    </div>

    <div id="playbook">
      <label class="underlined-input" for="character-{{actor._id}}-playbook">{{localize "BITD.Playbook"}}</label>
      <input type="text" id="character-{{actor._id}}-playbook" name="playbook" value="{{actor.class}}">
    </div>

    <div id="vice">
      <label class="underlined-input" for="character-{{actor._id}}-vice">{{localize "BITD.Vice"}}</label>
      <input type="text" id="character-{{actor._id}}-vice" name="vice" value="{{actor.vice}}">
    </div>
    <div id="heritage">
      <label class="underlined-input" for="character-{{actor._id}}-heritage">{{localize "BITD.Heritage"}}</label>
      <input type="text" id="character-{{actor._id}}-heritage" name="heritage" value="{{actor.heritage}}">
    </div>

    <div id="background">
      <label class="underlined-input" for="character-{{actor._id}}-background">{{localize "BITD.Background"}}</label>
      <input type="text" id="character-{{actor._id}}-background" name="background" value="{{actor.background}}">
    </div>
  </div>
</form>