<div class="abilities-column">
    <div class="flex padding white-on-black">
        <span class="uppercase">ABILITIES</span>
    </div>

    <div class="small-vertical-separator"></div>

    <div class="generic-item flex">
        <i class="fas fa-question-circle"
            title="You can Attune to the ghost field to force a nearby ghost to appear and obey a command you give it. You are not supernaturally terrified by a ghost you summon or compel (though your allies may be)."></i>
        <div class="small-horizontal-separator"></div>
        <input id="compel" type="checkbox" name="data.abilities.compel" {{checked data.abilities.compel}}>
        <label for="compel"></label>
        <div class="small-horizontal-separator"></div>
        <span>Compel</span>
    </div>
</div>