<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You are not affected by quality or Tier when you bypass security measures."></i>
    <div class="small-horizontal-separator"></div>
    <input id="infiltrator" type="checkbox" name="data.abilities.infiltrator" {{checked data.abilities.infiltrator}}>
    <label for="infiltrator"></label>
    <div class="small-horizontal-separator"></div>
    <span>Infiltrator</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="When you attack from hiding or spring a trap, you get +1d."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ambush" type="checkbox" name="data.abilities.ambush" {{checked data.abilities.ambush}}>
    <label for="ambush"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ambush</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you roll a desperate action, you get +1d to your roll if you also take -1d to any resistance rolls against consequences from your action."></i>
    <div class="small-horizontal-separator"></div>
    <input id="daredevil" type="checkbox" name="data.abilities.daredevil" {{checked data.abilities.daredevil}}>
    <label for="daredevil"></label>
    <div class="small-horizontal-separator"></div>
    <span>Daredevil</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you push yourself, choose one of the following additional benefits: perform a feat of athletics that verges on the superhuman—maneuver to confuse your enemies so they mistakenly attack each other."></i>
    <div class="small-horizontal-separator"></div>
    <input id="the-devils-footsteps" type="checkbox" name="data.abilities.the-devils-footsteps" {{checked data.abilities.the-devils-footsteps}}>
    <label for="the-devils-footsteps"></label>
    <div class="small-horizontal-separator"></div>
    <span>The Devil's Footsteps</span>
</div>