<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You are not affected by quality or Tier when you bypass security measures."></i>
    <div class="small-horizontal-separator"></div>
    <input id="infiltrator" type="checkbox" name="data.abilities.infiltrator" {{checked data.abilities.infiltrator}}>
    <label for="infiltrator"></label>
    <div class="small-horizontal-separator"></div>
    <span>Infiltrator</span>
</div>