<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="Take 2 stress to roll your best action rating while performing a different action. Say how you adapt your skill to this use."></i>
    <div class="small-horizontal-separator"></div>
    <input id="rooks-gambit" type="checkbox" name="data.abilities.rooks-gambit" {{checked data.abilities.rooks-gambit}}>
    <label for="rooks-gambit"></label>
    <div class="small-horizontal-separator"></div>
    <span>Rook's Gambit</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you use a disguise or other form of covert misdirection, you get +1d to rolls to confuse or deflect suspicion. When you throw off your disguise, the resulting surprise gives you the initiative in the situation."></i>
    <div class="small-horizontal-separator"></div>
    <input id="cloak-and-dagger" type="checkbox" name="data.abilities.cloak-and-dagger" {{checked data.abilities.cloak-and-dagger}}>
    <label for="cloak-and-dagger"></label>
    <div class="small-horizontal-separator"></div>
    <span>Cloak & Dagger</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You know the secret method to interact with a ghost or demon as if it was a normal human, regardless of how wild or feral it appears. You gain potency when communicating with the supernatural."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ghost-voice" type="checkbox" name="data.abilities.ghost-voice" {{checked data.abilities.ghost-voice}}>
    <label for="ghost-voice"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ghost Voice</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You can always tell when someone is lying to you."></i>
    <div class="small-horizontal-separator"></div>
    <input id="like-looking-into-a-mirror" type="checkbox" name="data.abilities.like-looking-into-a-mirror" {{checked data.abilities.like-looking-into-a-mirror}}>
    <label for="like-looking-into-a-mirror"></label>
    <div class="small-horizontal-separator"></div>
    <span>Like Looking into a Mirror</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="At the end of each downtime phase, you earn +2 stash."></i>
    <div class="small-horizontal-separator"></div>
    <input id="a-little-something-on-the-side" type="checkbox" name="data.abilities.a-little-something-on-the-side" {{checked data.abilities.a-little-something-on-the-side}}>
    <label for="a-little-something-on-the-side"></label>
    <div class="small-horizontal-separator"></div>
    <span>A Little Something on the Side</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="When you Sway someone, you may cause them to forget that it's happened until they next interact with you."></i>
    <div class="small-horizontal-separator"></div>
    <input id="mesmerism" type="checkbox" name="data.abilities.mesmerism" {{checked data.abilities.mesmerism}}>
    <label for="mesmerism"></label>
    <div class="small-horizontal-separator"></div>
    <span>Mesmerism</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You may expend your special armor to resist a consequence from suspicion or persuasion, or to push yourself for subterfuge."></i>
    <div class="small-horizontal-separator"></div>
    <input id="subterfuge" type="checkbox" name="data.abilities.subterfuge" {{checked data.abilities.subterfuge}}>
    <label for="subterfuge"></label>
    <div class="small-horizontal-separator"></div>
    <span>Subterfuge</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You get +1d vs. a target with whom you have an intimate relationship."></i>
    <div class="small-horizontal-separator"></div>
    <input id="trust-in-me" type="checkbox" name="data.abilities.trust-in-me" {{checked data.abilities.trust-in-me}}>
    <label for="trust-in-me"></label>
    <div class="small-horizontal-separator"></div>
    <span>Trust in Me</span>
</div>