<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-clothes-and-jewelry" type="checkbox" name="data.carried-items.fine-clothes-and-jewelry" {{checked data.carried-items.fine-clothes-and-jewelry}}>
    <label for="fine-clothes-and-jewelry"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Fine Clothes and Jewelry</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-disguise-kit" type="checkbox" name="data.carried-items.fine-disguise-kit" {{checked data.carried-items.fine-disguise-kit}}>
    <label for="fine-disguise-kit"></label>
    <div class="small-horizontal-separator"></div>
    <span>Fine Disguise Kit</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-loaded-dice-trick-cards" type="checkbox" name="data.carried-items.fine-loaded-dice-trick-cards" {{checked data.carried-items.fine-loaded-dice-trick-cards}}>
    <label for="fine-loaded-dice-trick-cards"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Fine Loaded Dice, Trick Cards</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="trance-powder" type="checkbox" name="data.carried-items.trance-powder" {{checked data.carried-items.trance-powder}}>
    <label for="trance-powder"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Trance Powder</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="a-cane-sword" type="checkbox" name="data.carried-items.a-cane-sword" {{checked data.carried-items.a-cane-sword}}>
    <label for="a-cane-sword"></label>
    <div class="small-horizontal-separator"></div>
    <span>A Cane Sword</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="spiritbane-charm" type="checkbox" name="data.carried-items.spiritbane-charm" {{checked data.carried-items.spiritbane-charm}}>
    <label for="spiritbane-charm"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Spiritbane Charm</i></span>
</div>