<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-lockpicks" type="checkbox" name="data.carried-items.fine-lockpicks" {{checked data.carried-items.fine-lockpicks}}>
    <label for="fine-lockpicks"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Fine Lockpicks</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-shadow-cloak" type="checkbox" name="data.carried-items.fine-shadow-cloak" {{checked data.carried-items.fine-shadow-cloak}}>
    <label for="fine-shadow-cloak"></label>
    <div class="small-horizontal-separator"></div>
    <span>Fine Shadow Cloak</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="light-climbing-gear" type="checkbox" name="data.carried-items.light-climbing-gear" {{checked data.carried-items.light-climbing-gear}}>
    <label for="light-climbing-gear"></label>
    <div class="small-horizontal-separator"></div>
    <span>Light Climbing Gear</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="silence-potion-vial" type="checkbox" name="data.carried-items.silence-potion-vial" {{checked data.carried-items.silence-potion-vial}}>
    <label for="silence-potion-vial"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Silence Potion Vial</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="dark-sight-goggles" type="checkbox" name="data.carried-items.dark-sight-goggles" {{checked data.carried-items.dark-sight-goggles}}>
    <label for="dark-sight-goggles"></label>
    <div class="small-horizontal-separator"></div>
    <span>Dark-Sight Goggles</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="spiritbane-charm" type="checkbox" name="data.carried-items.spiritbane-charm" {{checked data.carried-items.spiritbane-charm}}>
    <label for="spiritbane-charm"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Spiritbane Charm</i></span>
</div>