<div>
    <div>
        <b>Coin</b>
        <label for="coin-{{actor._id}}-hand-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="coins coins-hand">
        {{#multiboxes data.coin}}
        <input type="radio" id="coin-{{actor._id}}-hand-0" name="data.coin" value="0" checked="checked">
        <!-- Row of coins -->
        <input type="radio" id="coin-{{actor._id}}-hand-1" name="data.coin" value="1">
        <label for="coin-{{actor._id}}-hand-1"></label>
        <input type="radio" id="coin-{{actor._id}}-hand-2" name="data.coin" value="2">
        <label for="coin-{{actor._id}}-hand-2"></label>
        <input type="radio" id="coin-{{actor._id}}-hand-3" name="data.coin" value="3">
        <label for="coin-{{actor._id}}-hand-3"></label>
        <input type="radio" id="coin-{{actor._id}}-hand-4" name="data.coin" value="4">
        <label for="coin-{{actor._id}}-hand-4"></label>
        {{/multiboxes}}
    </div>

    <br>

    <div>
        <b>Stash</b>
        <label for="coin-{{actor._id}}-stash-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="coins coins-stashed">
        {{#multiboxes data.stash}}
        <input type="radio" id="coin-{{actor._id}}-stash-0" name="data.stash" value="0" checked="checked">
        <!-- First row of coins -->
        <input type="radio" id="coin-{{actor._id}}-stash-1" name="data.stash" value="1">
        <label for="coin-{{actor._id}}-stash-1"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-2" name="data.stash" value="2">
        <label for="coin-{{actor._id}}-stash-2"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-3" name="data.stash" value="3">
        <label for="coin-{{actor._id}}-stash-3"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-4" name="data.stash" value="4">
        <label for="coin-{{actor._id}}-stash-4"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-5" name="data.stash" value="5">
        <label for="coin-{{actor._id}}-stash-5"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-6" name="data.stash" value="6">
        <label for="coin-{{actor._id}}-stash-6"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-7" name="data.stash" value="7">
        <label for="coin-{{actor._id}}-stash-7"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-8" name="data.stash" value="8">
        <label for="coin-{{actor._id}}-stash-8"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-9" name="data.stash" value="9">
        <label for="coin-{{actor._id}}-stash-9"></label>
        <!-- Second row of coins -->
        <input type="radio" id="coin-{{actor._id}}-stash-10" name="data.stash" value="10">
        <label for="coin-{{actor._id}}-stash-10"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-11" name="data.stash" value="11">
        <label for="coin-{{actor._id}}-stash-11"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-12" name="data.stash" value="12">
        <label for="coin-{{actor._id}}-stash-12"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-13" name="data.stash" value="13">
        <label for="coin-{{actor._id}}-stash-13"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-14" name="data.stash" value="14">
        <label for="coin-{{actor._id}}-stash-14"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-15" name="data.stash" value="15">
        <label for="coin-{{actor._id}}-stash-15"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-16" name="data.stash" value="16">
        <label for="coin-{{actor._id}}-stash-16"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-17" name="data.stash" value="17">
        <label for="coin-{{actor._id}}-stash-17"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-18" name="data.stash" value="18">
        <label for="coin-{{actor._id}}-stash-18"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-19" name="data.stash" value="19">
        <label for="coin-{{actor._id}}-stash-19"></label>
        <!-- Third row of coins -->
        <input type="radio" id="coin-{{actor._id}}-stash-20" name="data.stash" value="20">
        <label for="coin-{{actor._id}}-stash-20"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-21" name="data.stash" value="21">
        <label for="coin-{{actor._id}}-stash-21"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-22" name="data.stash" value="22">
        <label for="coin-{{actor._id}}-stash-22"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-23" name="data.stash" value="23">
        <label for="coin-{{actor._id}}-stash-23"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-24" name="data.stash" value="24">
        <label for="coin-{{actor._id}}-stash-24"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-25" name="data.stash" value="25">
        <label for="coin-{{actor._id}}-stash-25"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-26" name="data.stash" value="26">
        <label for="coin-{{actor._id}}-stash-26"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-27" name="data.stash" value="27">
        <label for="coin-{{actor._id}}-stash-27"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-28" name="data.stash" value="28">
        <label for="coin-{{actor._id}}-stash-28"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-29" name="data.stash" value="29">
        <label for="coin-{{actor._id}}-stash-29"></label>
        <!-- Fourth row of coins -->
        <input type="radio" id="coin-{{actor._id}}-stash-30" name="data.stash" value="30">
        <label for="coin-{{actor._id}}-stash-30"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-31" name="data.stash" value="31">
        <label for="coin-{{actor._id}}-stash-31"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-32" name="data.stash" value="32">
        <label for="coin-{{actor._id}}-stash-32"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-33" name="data.stash" value="33">
        <label for="coin-{{actor._id}}-stash-33"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-34" name="data.stash" value="34">
        <label for="coin-{{actor._id}}-stash-34"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-35" name="data.stash" value="35">
        <label for="coin-{{actor._id}}-stash-35"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-36" name="data.stash" value="36">
        <label for="coin-{{actor._id}}-stash-36"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-37" name="data.stash" value="37">
        <label for="coin-{{actor._id}}-stash-37"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-38" name="data.stash" value="38">
        <label for="coin-{{actor._id}}-stash-38"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-39" name="data.stash" value="39">
        <label for="coin-{{actor._id}}-stash-39"></label>
        <input type="radio" id="coin-{{actor._id}}-stash-40" name="data.stash" value="40">
        <label for="coin-{{actor._id}}-stash-40"></label>
        {{/multiboxes}}
    </div>
</div>