<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="Take 2 stress to roll your best action rating while performing a different action. Say how you adapt your skill to this use."></i>
    <div class="small-horizontal-separator"></div>
    <input id="rooks-gambit" type="checkbox" name="data.abilities.rooks-gambit" {{checked data.abilities.rooks-gambit}}>
    <label for="rooks-gambit"></label>
    <div class="small-horizontal-separator"></div>
    <span>Rook's Gambit</span>
</div>