<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="Take 2 stress to roll your best action rating while performing a different action. Say how you adapt your skill to this use."></i>
    <div class="small-horizontal-separator"></div>
    <input id="rooks-gambit" type="checkbox" name="data.abilities.rooks-gambit" {{checked data.abilities.rooks-gambit}}>
    <label for="rooks-gambit"></label>
    <div class="small-horizontal-separator"></div>
    <span>Rook's Gambit</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you use a disguise or other form of covert misdirection, you get +1d to rolls to confuse or deflect suspicion. When you throw off your disguise, the resulting surprise gives you the initiative in the situation."></i>
    <div class="small-horizontal-separator"></div>
    <input id="cloak-and-dagger" type="checkbox" name="data.abilities.cloak-and-dagger" {{checked data.abilities.cloak-and-dagger}}>
    <label for="cloak-and-dagger"></label>
    <div class="small-horizontal-separator"></div>
    <span>Cloak & Dagger</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You know the secret method to interact with a ghost or demon as if it was a normal human, regardless of how wild or feral it appears. You gain potency when communicating with the supernatural."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ghost-voice" type="checkbox" name="data.abilities.ghost-voice" {{checked data.abilities.ghost-voice}}>
    <label for="ghost-voice"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ghost Voice</span>
</div>