<div class="generic-information">
    <img class="generic-information-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div id="name">
        <b>Name</b>
        <input type="text" name="name" value="{{actor.name}}">
    </div>
    <div id="heritage">
        <b>Heritage</b>
        <input type="text" name="data.heritage" value="{{data.heritage}}">
    </div>
    <div id="background">
        <b>Background</b>
        <input type="text" name="data.background" value="{{data.background}}">
    </div>
    <div id="vice">
        <b>Vice</b>
        <input type="text" name="data.vice" value="{{data.vice}}">
    </div>
</div>