<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-lightning-hook" type="checkbox" name="data.carried-items.fine-lightning-hook" {{checked data.carried-items.fine-lightning-hook}}>
    <label for="fine-lightning-hook"></label>
    <div class="small-horizontal-separator"></div>
    <span>Fine Lightning Hook</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="fine-spirit-mask" type="checkbox" name="data.carried-items.fine-spirit-mask" {{checked data.carried-items.fine-spirit-mask}}>
    <label for="fine-spirit-mask"></label>
    <div class="small-horizontal-separator"></div>
    <span>Fine Spirit Mask</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="electroplasm-vials" type="checkbox" name="data.carried-items.electroplasm-vials" {{checked data.carried-items.electroplasm-vials}}>
    <label for="electroplasm-vials"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Electroplasm Vials</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="spirit-bottles" type="checkbox" name="data.carried-items.spirit-bottles" {{checked data.carried-items.spirit-bottles}}>
    <label for="spirit-bottles"></label>
    <div class="small-horizontal-separator"></div>
    <span>Spirit Bottles (2)</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="ghost-key" type="checkbox" name="data.carried-items.ghost-key" {{checked data.carried-items.ghost-key}}>
    <label for="ghost-key"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Ghost Key</i></span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="demonbane-charm" type="checkbox" name="data.carried-items.demonbane-charm" {{checked data.carried-items.demonbane-charm}}>
    <label for="demonbane-charm"></label>
    <div class="small-horizontal-separator"></div>
    <span><i>Demonbane Charm</i></span>
</div>