.foundry-hover:hover {
  cursor: pointer;
  text-shadow: 0 0 8px red;
}

.character-top-grid {
  display: grid;
  grid-template-columns: 135px auto auto;
  grid-template-rows: 45px 45px 45px;
  column-gap: 5px;
}

.character-top-grid-img {
  grid-row-start: 1;
  grid-row-end: 4;
}

/* Coins */

.coins {
  cursor: pointer;
}

.coins label {
  background-color: #FFDC00;
  border: 1px solid #111111;
  cursor: pointer;
  height: 15px;
  vertical-align: middle;
  width: 15px;
}

.coins input {
  display: none;
}

.coins input:checked ~ label {
  background-color: #FFFFFF;
}

.coins input:checked + label {
  background-color: #FFDC00;
}

.coins input ~ label[for$="0"] {
  border-width: 2px;
}

.coins input ~ label:hover {
  background-color: #DDDDDD;

}

.coins-hand {
  column-gap: 3px;
  display: grid;
  grid-template-columns: repeat(4, 15px [col-start]);
  grid-template-rows: repeat(1, 15px [row-start]);
  row-gap: 3px;
}

.coins-stashed {
  column-gap: 3px;
  display: grid;
  grid-template-columns: repeat(10, 15px [col-start]);
  grid-template-rows: repeat(4, 15px [row-start]);
  row-gap: 3px;
}
