.character-top-grid {
  display: grid;
  grid-template-columns: 135px auto auto;
  grid-template-rows: 45px 45px 45px;
  column-gap: 5px;
}

.character-top-grid-img {
  grid-row-start: 1;
  grid-row-end: 4;
}

.underlined-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  background: none !important;
}
