<div>
    <div>
        <b>Reputation</b>
        <label for="reputation-level-{{actor._id}}-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="reputation-level">
        {{#multiboxes data.reputation-level}}
        <input type="radio" id="reputation-level-{{actor._id}}-0" name="data.reputation-level" value="0" checked="checked">
        <!-- Row of reputation-level -->
        <input type="radio" id="reputation-level-{{actor._id}}-1" name="data.reputation-level" value="1">
        <label for="reputation-level-{{actor._id}}-1"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-2" name="data.reputation-level" value="2">
        <label for="reputation-level-{{actor._id}}-2"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-3" name="data.reputation-level" value="3">
        <label for="reputation-level-{{actor._id}}-3"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-4" name="data.reputation-level" value="4">
        <label for="reputation-level-{{actor._id}}-4"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-5" name="data.reputation-level" value="5">
        <label for="reputation-level-{{actor._id}}-5"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-6" name="data.reputation-level" value="6">
        <label for="reputation-level-{{actor._id}}-6"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-7" name="data.reputation-level" value="7">
        <label for="reputation-level-{{actor._id}}-7"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-8" name="data.reputation-level" value="8">
        <label for="reputation-level-{{actor._id}}-8"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-9" name="data.reputation-level" value="9">
        <label for="reputation-level-{{actor._id}}-9"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-10" name="data.reputation-level" value="10">
        <label for="reputation-level-{{actor._id}}-10"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-11" name="data.reputation-level" value="11">
        <label for="reputation-level-{{actor._id}}-11"></label>
        <input type="radio" id="reputation-level-{{actor._id}}-12" name="data.reputation-level" value="12">
        <label for="reputation-level-{{actor._id}}-12"></label>
        {{/multiboxes}}
    </div>
</div>