<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="a-blade-or-two" type="checkbox" name="data.carried-items.a-blade-or-two" {{checked data.carried-items.a-blade-or-two}}>
    <label for="a-blade-or-two"></label>
    <div class="small-horizontal-separator"></div>
    <span>A Blade or Two</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="throwing-knives" type="checkbox" name="data.carried-items.throwing-knives" {{checked data.carried-items.throwing-knives}}>
    <label for="throwing-knives"></label>
    <div class="small-horizontal-separator"></div>
    <span>Throwing Knives</span>
</div>

<div class="small-vertical-separator"></div>

<div class="flex">
    <span class="generic-item flex">
        <input id="a-pistol" type="checkbox" name="data.carried-items.a-pistol" {{checked data.carried-items.a-pistol}}>
        <label for="a-pistol"></label>
        <div class="small-horizontal-separator"></div>
        <span>A Pistol</span>
    </span>
    <div class="horizontal-separator"></div>
    <span class="generic-item flex">
        <input id="a-second-pistol" type="checkbox" name="data.carried-items.a-second-pistol" {{checked data.carried-items.a-second-pistol}}>
        <label for="a-second-pistol"></label>
        <div class="small-horizontal-separator"></div>
        <span>A 2nd Pistol</span>
    </span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="a-large-weapon" type="checkbox" name="data.carried-items.a-large-weapon" {{checked data.carried-items.a-large-weapon}}>
    <label for="a-large-weapon"></label>
    <div>-</div>
    <label for="a-large-weapon"></label>
    <div class="small-horizontal-separator"></div>
    <span>A Large Weapon</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="an-unusual-weapon" type="checkbox" name="data.carried-items.an-unusual-weapon" {{checked data.carried-items.an-unusual-weapon}}>
    <label for="an-unusual-weapon"></label>
    <div class="small-horizontal-separator"></div>
    <span>An Unusual Weapon</span>
</div>

<div class="small-vertical-separator"></div>

<div class="flex">
    <span class="generic-item flex">
        <input id="armor" type="checkbox" name="data.carried-items.armor" {{checked data.carried-items.armor}}>
        <label for="armor"></label>
        <div>-</div>
        <label for="armor"></label>
        <div class="small-horizontal-separator"></div>
        <span>Armor</span>
    </span>
    <div class="horizontal-separator"></div>
    <span class="generic-item flex">
        <input id="heavy" type="checkbox" name="data.carried-items.heavy" {{checked data.carried-items.heavy}}>
        <label for="heavy"></label>
        <div>-</div>
        <label for="heavy"></label>
        <div>-</div>
        <label for="heavy"></label>
        <div class="small-horizontal-separator"></div>
        <span>+Heavy</span>
    </span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="burglary-gear" type="checkbox" name="data.carried-items.burglary-gear" {{checked data.carried-items.burglary-gear}}>
    <label for="burglary-gear"></label>
    <div class="small-horizontal-separator"></div>
    <span>Burglary Gear</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="climbing-gear" type="checkbox" name="data.carried-items.climbing-gear" {{checked data.carried-items.climbing-gear}}>
    <label for="climbing-gear"></label>
    <div>-</div>
    <label for="climbing-gear"></label>
    <div class="small-horizontal-separator"></div>
    <span>Climbing Gear</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="arcane-implements" type="checkbox" name="data.carried-items.arcane-implements" {{checked data.carried-items.arcane-implements}}>
    <label for="arcane-implements"></label>
    <div class="small-horizontal-separator"></div>
    <span>Arcane Implements</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="documents" type="checkbox" name="data.carried-items.documents" {{checked data.carried-items.documents}}>
    <label for="documents"></label>
    <div class="small-horizontal-separator"></div>
    <span>Documents</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="subterfuge-supplies" type="checkbox" name="data.carried-items.subterfuge-supplies" {{checked data.carried-items.subterfuge-supplies}}>
    <label for="subterfuge-supplies"></label>
    <div class="small-horizontal-separator"></div>
    <span>Subterfuge Supplies</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="demolition-tools" type="checkbox" name="data.carried-items.demolition-tools" {{checked data.carried-items.demolition-tools}}>
    <label for="demolition-tools"></label>
    <div>-</div>
    <label for="demolition-tools"></label>
    <div class="small-horizontal-separator"></div>
    <span>Demolition Tools</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="tinkering-tools" type="checkbox" name="data.carried-items.tinkering-tools" {{checked data.carried-items.tinkering-tools}}>
    <label for="tinkering-tools"></label>
    <div class="small-horizontal-separator"></div>
    <span>Tinkering Tools</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <input id="lantern" type="checkbox" name="data.carried-items.lantern" {{checked data.carried-items.lantern}}>
    <label for="lantern"></label>
    <div class="small-horizontal-separator"></div>
    <span>Lantern</span>
</div>