<div class="small-vertical-separator"></div>

<div class="flex">
    <div>
        <b>Lair</b>

        <div class="upgrade flex">
            <input id="carriage-1" type="checkbox" name="data.upgrades.carriage-1" {{checked data.upgrades.carriage-1}}>
            <label for="carriage-1"></label>
            <div class="small-horizontal-separator"></div>
            <input id="carriage-2" type="checkbox" name="data.upgrades.carriage-2" {{checked data.upgrades.carriage-2}}>
            <label for="carriage-2"></label>
            <div class="small-horizontal-separator"></div>
            <span>Carriage</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="boat-1" type="checkbox" name="data.upgrades.boat-1" {{checked data.upgrades.boat-1}}>
            <label for="boat-1"></label>
            <div class="small-horizontal-separator"></div>
            <input id="boat-2" type="checkbox" name="data.upgrades.boat-2" {{checked data.upgrades.boat-2}}>
            <label for="boat-2"></label>
            <div class="small-horizontal-separator"></div>
            <span>Boat</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="hidden" type="checkbox" name="data.upgrades.hidden" {{checked data.upgrades.hidden}}>
            <label for="hidden"></label>
            <div class="small-horizontal-separator"></div>
            <span>Hidden</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="quarters" type="checkbox" name="data.upgrades.quarters" {{checked data.upgrades.quarters}}>
            <label for="quarters"></label>
            <div class="small-horizontal-separator"></div>
            <span>Quarters</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="secure-1" type="checkbox" name="data.upgrades.secure-1" {{checked data.upgrades.secure-1}}>
            <label for="secure-1"></label>
            <div class="small-horizontal-separator"></div>
            <input id="secure-2" type="checkbox" name="data.upgrades.secure-2" {{checked data.upgrades.secure-2}}>
            <label for="secure-2"></label>
            <div class="small-horizontal-separator"></div>
            <span>Secure</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="vault-1" type="checkbox" name="data.upgrades.vault-1" {{checked data.upgrades.vault-1}}>
            <label for="vault-1"></label>
            <div class="small-horizontal-separator"></div>
            <input id="vault-2" type="checkbox" name="data.upgrades.vault-2" {{checked data.upgrades.vault-2}}>
            <label for="vault-2"></label>
            <div class="small-horizontal-separator"></div>
            <span>Vault</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="workshop" type="checkbox" name="data.upgrades.workshop" {{checked data.upgrades.workshop}}>
            <label for="workshop"></label>
            <div class="small-horizontal-separator"></div>
            <span>Workshop</span>
        </div>

        <div class="small-vertical-separator"></div>

        <b>Training</b>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="insight" type="checkbox" name="data.upgrades.insight" {{checked data.upgrades.insight}}>
            <label for="insight"></label>
            <div class="small-horizontal-separator"></div>
            <span>Insight</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="prowess" type="checkbox" name="data.upgrades.prowess" {{checked data.upgrades.prowess}}>
            <label for="prowess"></label>
            <div class="small-horizontal-separator"></div>
            <span>Prowess</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="resolve" type="checkbox" name="data.upgrades.resolve" {{checked data.upgrades.resolve}}>
            <label for="resolve"></label>
            <div class="small-horizontal-separator"></div>
            <span>Resolve</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="personal" type="checkbox" name="data.upgrades.personal" {{checked data.upgrades.personal}}>
            <label for="personal"></label>
            <div class="small-horizontal-separator"></div>
            <span>Personal</span>
        </div>
    </div>
    <div class="horizontal-separator"></div>

    <div>
        <b>Quality</b>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="documents" type="checkbox" name="data.upgrades.documents" {{checked data.upgrades.documents}}>
            <label for="documents"></label>
            <div class="small-horizontal-separator"></div>
            <span>Documents</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="gear" type="checkbox" name="data.upgrades.gear" {{checked data.upgrades.gear}}>
            <label for="gear"></label>
            <div class="small-horizontal-separator"></div>
            <span>Gear</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="implements" type="checkbox" name="data.upgrades.implements" {{checked data.upgrades.implements}}>
            <label for="implements"></label>
            <div class="small-horizontal-separator"></div>
            <span>Implements</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="supplies" type="checkbox" name="data.upgrades.supplies" {{checked data.upgrades.supplies}}>
            <label for="supplies"></label>
            <div class="small-horizontal-separator"></div>
            <span>Supplies</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="tools" type="checkbox" name="data.upgrades.tools" {{checked data.upgrades.tools}}>
            <label for="tools"></label>
            <div class="small-horizontal-separator"></div>
            <span>Tools</span>
        </div>

        <div class="small-vertical-separator"></div>

        <div class="upgrade flex">
            <input id="weapons" type="checkbox" name="data.upgrades.weapons" {{checked data.upgrades.weapons}}>
            <label for="weapons"></label>
            <div class="small-horizontal-separator"></div>
            <span>Weapons</span>
        </div>
    </div>
</div>

<div class="small-vertical-separator"></div>

<div class="upgrade flex">
    <input id="mastery-1" type="checkbox" name="data.upgrades.mastery-1" {{checked data.upgrades.mastery-1}}>
    <label for="mastery-1"></label>
    <div class="small-horizontal-separator"></div>
    <input id="mastery-2" type="checkbox" name="data.upgrades.mastery-2" {{checked data.upgrades.mastery-2}}>
    <label for="mastery-2"></label>
    <div class="small-horizontal-separator"></div>
    <input id="mastery-3" type="checkbox" name="data.upgrades.mastery-3" {{checked data.upgrades.mastery-3}}>
    <label for="mastery-3"></label>
    <div class="small-horizontal-separator"></div>
    <input id="mastery-4" type="checkbox" name="data.upgrades.mastery-4" {{checked data.upgrades.mastery-4}}>
    <label for="mastery-4"></label>
    <div class="small-horizontal-separator"></div>
    <span>Mastery</span>
</div>