<div class="carried-items-column">
    <div class="flex padding white-on-black">
        <span class="uppercase">COHORTS</span>
    </div>

    <div class="small-vertical-separator"></div>

    <div>
        <b>Harm</b>
        <label for="cohort-harm-1-{{actor._id}}-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="cohort-harm">
        {{#multiboxes data.cohort-harm-1}}
        <input type="radio" id="cohort-harm-1-{{actor._id}}-0" name="data.cohort-harm-1" value="0" checked="checked">
        <!-- Row of cohort-harm-1 -->
        <input type="radio" id="cohort-harm-1-{{actor._id}}-1" name="data.cohort-harm-1" value="1">
        <label for="cohort-harm-1-{{actor._id}}-1"></label>
        <span>Less effect</span>
        <input type="radio" id="cohort-harm-1-{{actor._id}}-2" name="data.cohort-harm-1" value="2">
        <label for="cohort-harm-1-{{actor._id}}-2"></label>
        <span>-1d</span>
        <input type="radio" id="cohort-harm-1-{{actor._id}}-3" name="data.cohort-harm-1" value="3">
        <label for="cohort-harm-1-{{actor._id}}-3"></label>
        <span>Need help</span>
        {{/multiboxes}}
    </div>
    <div class="small-vertical-separator"></div>
    <textarea class="no-resize" rows="3" name="data.cohort-description-1">{{{data.cohort-description-1}}}</textarea>

    <br>

    <div>
        <b>Harm</b>
        <label for="cohort-harm-2-{{actor._id}}-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="cohort-harm">
        {{#multiboxes data.cohort-harm-2}}
        <input type="radio" id="cohort-harm-2-{{actor._id}}-0" name="data.cohort-harm-2" value="0" checked="checked">
        <!-- Row of cohort-harm-2 -->
        <input type="radio" id="cohort-harm-2-{{actor._id}}-1" name="data.cohort-harm-2" value="1">
        <label for="cohort-harm-2-{{actor._id}}-1"></label>
        <span>Less effect</span>
        <input type="radio" id="cohort-harm-2-{{actor._id}}-2" name="data.cohort-harm-2" value="2">
        <label for="cohort-harm-2-{{actor._id}}-2"></label>
        <span>-1d</span>
        <input type="radio" id="cohort-harm-2-{{actor._id}}-3" name="data.cohort-harm-2" value="3">
        <label for="cohort-harm-2-{{actor._id}}-3"></label>
        <span>Need help</span>
        {{/multiboxes}}
    </div>
    <div class="small-vertical-separator"></div>
    <textarea class="no-resize" rows="3" name="data.cohort-description-2">{{{data.cohort-description-2}}}</textarea>

    <br>

    <div>
        <b>Harm</b>
        <label for="cohort-harm-3-{{actor._id}}-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="cohort-harm">
        {{#multiboxes data.cohort-harm-3}}
        <input type="radio" id="cohort-harm-3-{{actor._id}}-0" name="data.cohort-harm-3" value="0" checked="checked">
        <!-- Row of cohort-harm-3 -->
        <input type="radio" id="cohort-harm-3-{{actor._id}}-1" name="data.cohort-harm-3" value="1">
        <label for="cohort-harm-3-{{actor._id}}-1"></label>
        <span>Less effect</span>
        <input type="radio" id="cohort-harm-3-{{actor._id}}-2" name="data.cohort-harm-3" value="2">
        <label for="cohort-harm-3-{{actor._id}}-2"></label>
        <span>-1d</span>
        <input type="radio" id="cohort-harm-3-{{actor._id}}-3" name="data.cohort-harm-3" value="3">
        <label for="cohort-harm-3-{{actor._id}}-3"></label>
        <span>Need help</span>
        {{/multiboxes}}
    </div>
    <div class="small-vertical-separator"></div>
    <textarea class="no-resize" rows="3" name="data.cohort-description-3">{{{data.cohort-description-3}}}</textarea>

    <br>

    <div>
        <b>Harm</b>
        <label for="cohort-harm-4-{{actor._id}}-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="cohort-harm">
        {{#multiboxes data.cohort-harm-4}}
        <input type="radio" id="cohort-harm-4-{{actor._id}}-0" name="data.cohort-harm-4" value="0" checked="checked">
        <!-- Row of cohort-harm-4 -->
        <input type="radio" id="cohort-harm-4-{{actor._id}}-1" name="data.cohort-harm-4" value="1">
        <label for="cohort-harm-4-{{actor._id}}-1"></label>
        <span>Less effect</span>
        <input type="radio" id="cohort-harm-4-{{actor._id}}-2" name="data.cohort-harm-4" value="2">
        <label for="cohort-harm-4-{{actor._id}}-2"></label>
        <span>-1d</span>
        <input type="radio" id="cohort-harm-4-{{actor._id}}-3" name="data.cohort-harm-4" value="3">
        <label for="cohort-harm-4-{{actor._id}}-3"></label>
        <span>Need help</span>
        {{/multiboxes}}
    </div>
    <div class="small-vertical-separator"></div>
    <textarea class="no-resize" rows="3" name="data.cohort-description-4">{{{data.cohort-description-4}}}</textarea>
</div>