<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You are not affected by quality or Tier when you bypass security measures."></i>
    <div class="small-horizontal-separator"></div>
    <input id="infiltrator" type="checkbox" name="data.abilities.infiltrator" {{checked data.abilities.infiltrator}}>
    <label for="infiltrator"></label>
    <div class="small-horizontal-separator"></div>
    <span>Chosen</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="When you attack from hiding or spring a trap, you get +1d."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ambush" type="checkbox" name="data.abilities.ambush" {{checked data.abilities.ambush}}>
    <label for="ambush"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ambush</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you roll a desperate action, you get +1d to your roll if you also take -1d to any resistance rolls against consequences from your action."></i>
    <div class="small-horizontal-separator"></div>
    <input id="daredevil" type="checkbox" name="data.abilities.daredevil" {{checked data.abilities.daredevil}}>
    <label for="daredevil"></label>
    <div class="small-horizontal-separator"></div>
    <span>Daredevil</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="When you push yourself, choose one of the following additional benefits: perform a feat of athletics that verges on the superhuman—maneuver to confuse your enemies so they mistakenly attack each other."></i>
    <div class="small-horizontal-separator"></div>
    <input id="the-devils-footsteps" type="checkbox" name="data.abilities.the-devils-footsteps" {{checked data.abilities.the-devils-footsteps}}>
    <label for="the-devils-footsteps"></label>
    <div class="small-horizontal-separator"></div>
    <span>The Devil's Footsteps</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="Choose one of your action ratings. When you lead a group action using that action, you can suffer only 1 stress at most regardless of the number of failed rolls."></i>
    <div class="small-horizontal-separator"></div>
    <input id="expertise" type="checkbox" name="data.abilities.expertise" {{checked data.abilities.expertise}}>
    <label for="expertise"></label>
    <div class="small-horizontal-separator"></div>
    <span>Expertise</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You may shift partially into the ghost field, becoming shadowy and insubstantial for a few moments. Take 2 stress when you shift, plus 1 stress for each extra feature: it lasts for a few minutes rather than moments—you are invisible rather than shadowy—you may float through the air like a ghost."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ghost-veil" type="checkbox" name="data.abilities.ghost-veil" {{checked data.abilities.ghost-veil}}>
    <label for="ghost-veil"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ghost Veil</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="When there's a question about who acts first, the answer is you (two characters with Reflexes act simultaneously)."></i>
    <div class="small-horizontal-separator"></div>
    <input id="reflexes" type="checkbox" name="data.abilities.reflexes" {{checked data.abilities.reflexes}}>
    <label for="reflexes"></label>
    <div class="small-horizontal-separator"></div>
    <span>Reflexes</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You may expend your special armor to resist a consequence from detection or security measures, or to push yourself for a feat of athletics or stealth."></i>
    <div class="small-horizontal-separator"></div>
    <input id="shadow" type="checkbox" name="data.abilities.shadow" {{checked data.abilities.shadow}}>
    <label for="shadow"></label>
    <div class="small-horizontal-separator"></div>
    <span>Shadow</span>
</div>