<div>
    <div>
        <b>Vault</b>
        <label for="coin-{{actor._id}}-vault-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="coins coins-vault">
        {{#multiboxes data.vault}}
        <input type="radio" id="coin-{{actor._id}}-vault-0" name="data.vault" value="0" checked="checked">
        <input type="radio" id="coin-{{actor._id}}-vault-1" name="data.vault" value="1">
        <label for="coin-{{actor._id}}-vault-1"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-2" name="data.vault" value="2">
        <label for="coin-{{actor._id}}-vault-2"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-3" name="data.vault" value="3">
        <label for="coin-{{actor._id}}-vault-3"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-4" name="data.vault" value="4">
        <label for="coin-{{actor._id}}-vault-4"></label>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <input type="radio" id="coin-{{actor._id}}-vault-5" name="data.vault" value="5">
        <label for="coin-{{actor._id}}-vault-5"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-6" name="data.vault" value="6">
        <label for="coin-{{actor._id}}-vault-6"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-7" name="data.vault" value="7">
        <label for="coin-{{actor._id}}-vault-7"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-8" name="data.vault" value="8">
        <label for="coin-{{actor._id}}-vault-8"></label>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <input type="radio" id="coin-{{actor._id}}-vault-9" name="data.vault" value="9">
        <label for="coin-{{actor._id}}-vault-9"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-10" name="data.vault" value="10">
        <label for="coin-{{actor._id}}-vault-10"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-11" name="data.vault" value="11">
        <label for="coin-{{actor._id}}-vault-11"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-12" name="data.vault" value="12">
        <label for="coin-{{actor._id}}-vault-12"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-13" name="data.vault" value="13">
        <label for="coin-{{actor._id}}-vault-13"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-14" name="data.vault" value="14">
        <label for="coin-{{actor._id}}-vault-14"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-15" name="data.vault" value="15">
        <label for="coin-{{actor._id}}-vault-15"></label>
        <input type="radio" id="coin-{{actor._id}}-vault-16" name="data.vault" value="16">
        <label for="coin-{{actor._id}}-vault-16"></label>
        {{/multiboxes}}
    </div>
</div>