<div>
    <div class="turf">
        <!-- First row -->
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="cloister" type="checkbox" name="data.turf.cloister" {{checked data.turf.cloister}}>
                <label for="cloister"></label>
            </div>
            <span class="text-align-center">
                <div>Cloister</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1 scale for your Adept cohorts"></i></div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="vice-den" type="checkbox" name="data.turf.vice-den" {{checked data.turf.vice-den}}>
                <label for="vice-den"></label>
            </div>
            <span class="text-align-center">
                <div>Vice Den</div>
                <div><i class="fas fa-question-circle cursor-help" title="(Tier roll) - Heat = coin in downtime"></i></div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="offertory" type="checkbox" name="data.turf.offertory" {{checked data.turf.offertory}}>
                <label for="offertory"></label>
            </div>
            <span class="text-align-center">
                <div>Offertory</div>
                <div><i class="fas fa-question-circle cursor-help" title="+2 coin for occult operations"></i></div>
            </span>
        </div>
        <div></div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="ancient-obelisk" type="checkbox" name="data.turf.ancient-obelisk" {{checked data.turf.ancient-obelisk}}>
                <label for="ancient-obelisk"></label>
            </div>
            <span class="text-align-center">
                <div>Ancient Obelisk</div>
                <div><i class="fas fa-question-circle cursor-help" title="-1 stress cost for all arcane powers and rituals"></i></div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="ancient-tower" type="checkbox" name="data.turf.ancient-tower" {{checked data.turf.ancient-tower}}>
                <label for="ancient-tower"></label>
            </div>
            <span class="text-align-center">
                <div>Ancient Tower</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1d to Consort with arcane entities on site"></i></div>
            </span>
        </div>
        <!-- Second row -->
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>

        <!-- Third row -->
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="turf-1" type="checkbox" name="data.turf.turf-1" {{checked data.turf.turf-1}}>
                <label for="turf-1"></label>
            </div>
            <span class="text-align-center">
                <div>Turf</div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="turf-2" type="checkbox" name="data.turf.turf-2" {{checked data.turf.turf-2}}>
                <label for="turf-2"></label>
            </div>
            <span class="text-align-center">
                <div>Turf</div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-lair-location">
            <div class="generic-item flex">
                <input type="checkbox">
                <label></label>
            </div>
            <span class="text-align-center">
                <div class="white-on-black">Lair</div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="turf-3" type="checkbox" name="data.turf.turf-3" {{checked data.turf.turf-3}}>
                <label for="turf-3"></label>
            </div>
            <span class="text-align-center">
                <div>Turf</div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="turf-4" type="checkbox" name="data.turf.turf-4" {{checked data.turf.turf-4}}>
                <label for="turf-4"></label>
            </div>
            <span class="text-align-center">
                <div>Turf</div>
            </span>
        </div>

        <!-- Second row -->
        <div></div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>
        <div></div>
        <div>
            <div class="turf-vertical-connection"></div>
        </div>

        <!-- Third row -->
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="spirit-well" type="checkbox" name="data.turf.spirit-well" {{checked data.turf.spirit-well}}>
                <label for="spirit-well"></label>
            </div>
            <span class="text-align-center">
                <div>Spirit Well</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1d to Attune on site"></i></div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="ancient-gate" type="checkbox" name="data.turf.ancient-gate" {{checked data.turf.ancient-gate}}>
                <label for="ancient-gate"></label>
            </div>
            <span class="text-align-center">
                <div>Ancient Gate</div>
                <div><i class="fas fa-question-circle cursor-help" title="Safe passage in the Deathlands"></i></div>
            </span>
        </div>
        <div></div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="sanctuary" type="checkbox" name="data.turf.sanctuary" {{checked data.turf.sanctuary}}>
                <label for="sanctuary"></label>
            </div>
            <span class="text-align-center">
                <div>Sanctuary</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1d to Command and Sway on site"></i></div>
            </span>
        </div>
        <div></div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="sacred-nexus" type="checkbox" name="data.turf.sacred-nexus" {{checked data.turf.sacred-nexus}}>
                <label for="sacred-nexus"></label>
            </div>
            <span class="text-align-center">
                <div>Sacred Nexus</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1d to healing rolls"></i></div>
            </span>
        </div>
        <div>
            <div class="turf-horizontal-connection"></div>
        </div>
        <div class="turf-location ">
            <div class="generic-item flex">
                <input id="ancient-altar" type="checkbox" name="data.turf.ancient-altar" {{checked data.turf.ancient-altar}}>
                <label for="ancient-altar"></label>
            </div>
            <span class="text-align-center">
                <div>Ancient Altar</div>
                <div><i class="fas fa-question-circle cursor-help" title="+1d engagement for occult plans"></i></div>
            </span>
        </div>
    </div>
</div>