<div class="generic-information">
    <img class="generic-information-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div id="name">
        <b>Name</b>
        <input type="text" name="name" value="{{actor.name}}">
    </div>
    <div id="reputation">
        <b>Reputation</b>
        <input type="text" name="data.reputation" value="{{data.reputation}}">
    </div>
    <div id="lair">
        <b>Lair</b>
        <input type="text" name="data.lair" value="{{data.lair}}">
    </div>
    <div id="divinity">
        <b>Divinity</b>
        <input type="text" name="data.divinity" value="{{data.divinity}}">
    </div>
</div>