<div>
    <div>
        <b>Coin</b>
        <label for="coins-{{actor._id}}-hands-0"><i class="fas fa-sync nullifier foundry-hover"></i></label>
    </div>
    <div class="coins coins-hand">
        {{#multiboxes data.coins}}
        <input type="radio" id="coins-{{actor._id}}-hands-0" name="data.coins" value="0" checked="checked">
        <!-- Row of coins -->
        <input type="radio" id="coins-{{actor._id}}-hands-1" name="data.coins" value="1">
        <label for="coins-{{actor._id}}-hands-1"></label>
        <input type="radio" id="coins-{{actor._id}}-hands-2" name="data.coins" value="2">
        <label for="coins-{{actor._id}}-hands-2"></label>
        <input type="radio" id="coins-{{actor._id}}-hands-3" name="data.coins" value="3">
        <label for="coins-{{actor._id}}-hands-3"></label>
        <input type="radio" id="coins-{{actor._id}}-hands-4" name="data.coins" value="4">
        <label for="coins-{{actor._id}}-hands-4"></label>
        {{/multiboxes}}
    </div>

</div>