<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="Each PC may add +1 action rating to Attune, Study, or Sway (up to a max rating of 3)."></i>
    <div class="small-horizontal-separator"></div>
    <input id="chosen" type="checkbox" name="data.abilities.chosen" {{checked data.abilities.chosen}}>
    <label for="chosen"></label>
    <div class="small-horizontal-separator"></div>
    <span>Chosen</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="You get +1d to resistance rolls against supernatural threats. You get +1d to healing rolls when you have supernatural harm."></i>
    <div class="small-horizontal-separator"></div>
    <input id="anointed" type="checkbox" name="data.abilities.anointed" {{checked data.abilities.anointed}}>
    <label for="anointed"></label>
    <div class="small-horizontal-separator"></div>
    <span>Anointed</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You may use teamwork with any cult member, regardless of the distance separating you. By taking 1 stress, your whispered message is heard by every cultist."></i>
    <div class="small-horizontal-separator"></div>
    <input id="bound-in-darkness" type="checkbox" name="data.abilities.bound-in-darkness" {{checked data.abilities.bound-in-darkness}}>
    <label for="bound-in-darkness"></label>
    <div class="small-horizontal-separator"></div>
    <span>Bound in Darkness</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="Each PC gains an additional Vice: Worship. When you indulge this vice and bring a pleasing sacrifice, you don't overindulge if you clear excess stress. In addition, your deity will assist any one action roll you make—from now until you indulge this vice again."></i>
    <div class="small-horizontal-separator"></div>
    <input id="conviction" type="checkbox" name="data.abilities.conviction" {{checked data.abilities.conviction}}>
    <label for="conviction"></label>
    <div class="small-horizontal-separator"></div>
    <span>Conviction</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="Your deity sometimes manifests in the physical world. This can be a great boon, but the priorities and values of a god are not those of mortals. You have been warned."></i>
    <div class="small-horizontal-separator"></div>
    <input id="glory-incarnate" type="checkbox" name="data.abilities.glory-incarnate" {{checked data.abilities.glory-incarnate}}>
    <label for="glory-incarnate"></label>
    <div class="small-horizontal-separator"></div>
    <span>Glory Incarnate</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You may shift partially into the ghost field, becoming shadowy and insubstantial for a few moments. Take 2 stress when you shift, plus 1 stress for each extra feature: it lasts for a few minutes rather than moments—you are invisible rather than shadowy—you may float through the air like a ghost."></i>
    <div class="small-horizontal-separator"></div>
    <input id="ghost-veil" type="checkbox" name="data.abilities.ghost-veil" {{checked data.abilities.ghost-veil}}>
    <label for="ghost-veil"></label>
    <div class="small-horizontal-separator"></div>
    <span>Ghost Veil</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help" title="When there's a question about who acts first, the answer is you (two characters with Reflexes act simultaneously)."></i>
    <div class="small-horizontal-separator"></div>
    <input id="reflexes" type="checkbox" name="data.abilities.reflexes" {{checked data.abilities.reflexes}}>
    <label for="reflexes"></label>
    <div class="small-horizontal-separator"></div>
    <span>Reflexes</span>
</div>

<div class="small-vertical-separator"></div>

<div class="generic-item flex">
    <i class="fas fa-question-circle cursor-help"
        title="You may expend your special armor to resist a consequence from detection or security measures, or to push yourself for a feat of athletics or stealth."></i>
    <div class="small-horizontal-separator"></div>
    <input id="shadow" type="checkbox" name="data.abilities.shadow" {{checked data.abilities.shadow}}>
    <label for="shadow"></label>
    <div class="small-horizontal-separator"></div>
    <span>Shadow</span>
</div>